<!DOCTYPE html>
<html>
  <head>
    <title>Compliments IO</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= action_cable_meta_tag %>

    <link rel="stylesheet" href="https://npmcdn.com/tachyons@4.0.0-beta.12/css/tachyons.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="sans-serif bg-near-white">
    <%= render 'shared/flashes' %>
    <script id="digits-sdk" src="https://cdn.digits.com/1/sdk.js" async></script>
    <%= yield %>
  </body>
</html>
